* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  padding: 50px 30px;
}
header {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
header input {
  flex-grow: 1;
  /* font-size: 16px; */
}

header > * {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 15px 30px;
}
.btn {
  cursor: pointer;
}
table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}

table > tr {
  border-bottom: 1px solid white;
}
table td {
  padding: 20px 0px;
  white-space: nowrap;
}
table th {
  text-align: left;
}

.img-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.img-container > img {
  width: 45px;
  height: 45px;
}
